@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

label {
	width: 553px;
	height: 177px;
	background-color: #f2f5f8;
	border: 2px dashed #c7cdd3;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input[type="file"] {
	display: none;
}
